@tailwind base;
@tailwind components;
@tailwind utilities;

/* ซ่อน scrollbar สำหรับ Chrome / Safari / Edge */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* ซ่อน scrollbar สำหรับ Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
  }
